*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
}
.contact{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)), url("./back-customer.jpg");
    color:white;
    background-size:cover;
    height: 70vh;
    background-position:center;
}
.para{
    font-style: italic;
    font-size:95%;
    text-indent: 5em;
    line-height: 125%;
}
.admin{
    padding:3% 0 0 0;
}
.image-gallery{
    float: left;
    width:15%;
}
.image-gallery img{
    border:1px solid gray;
    width:100%;
    height:50%;
    border-radius: 50%;
}
.admin p{
    display: inline-block;
    float: left;
    padding:3% 0 0 2%;
    font-style: italic;
    font-size: 80%;
}
/*........................Reuseable Class-------------------------------------*/
.row{
    max-width: 1140px;
    margin:0px auto;
}
h2{
    padding-top:5%;
    text-align:center;
    font-weight: lighter;
}
h2:after{
    content: " ";
    display: block;
    width:100px;
    height: 2px;
    background: orange;
    margin:20px auto;
}
.clear-fix:after{
    content:'.';
    clear: both;
    display:block;
    height: 0;
    visibility: hidden;
}

/*..........................................Eating Healty...........................................*/
.eating_healthy{
    background: #d3eeea;
}
.card{
    height:auto;
    line-height: 200%;
    border:1px solid white;
}
.card .card_firstPart{
    background:rgba(245,163,62,0.7);
    border-bottom:1px solid rgb(221, 218, 218);
    padding: 2%;
}
.card_firstPart p{
    font-size:90%;
}
.card_firstPart .oran{
    color:rgb(238, 114, 12);
}
.card_firstPart span{
    font-size:200%;
    padding-right:3%;
}
.card .card_secondPart{
    background: white;
    border-bottom:1px solid rgb(221, 218, 218);
}
.card .card_secondPart ul li{
    list-style: none;
    padding:2%;
}
.card .footer{
    text-align: center;
    width:100%;
    padding:3%;
    background: white;
}
.footer button{
    width:25%;
}
.card .footer .btn{
    border:1px solid orangered;
    padding:2%;
    border-radius: 50px;
    cursor: pointer;
}
.btn:hover{
    background:orangered;
    color:white;
}